<center>
<h1>About the web software</h1>
<br>
<br>
<br>
<p>esta es una aplicacion wewb de busqueda de empleo</p>
<p>esta es una aplicacion wewb de busqueda de empleo</p>
<p>esta es una aplicacion wewb de busqueda de empleo</p>
<p>esta es una aplicacion wewb de busqueda de empleo</p>
<p>esta es una aplicacion wewb de busqueda de empleo</p>
<p>esta es una aplicacion wewb de busqueda de empleo</p>
<br>
<br>
<br>
<br>
</center>
<p>disculpen por el spameo de arriba pero si esta es una web de empleo el cual los jobhunters son los protagonistasa y las personas mas inportantes de este sitio web 
    y diciendo esto no estamos discriminando a los posters tambien los amamos mas informacion sobre la aplicacaion por ejemplo la metriccas estan en esta pagina espero que  sea de su agrado 
</p>

<center>
<button><a href="../view/metricas/metrics.html"></a></button>
</center>
