<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleate.com.do</title>
    <link rel="stylesheet" href="../public/CSS/bootstrap-grid.min.css" type="text/css">
    <link rel="stylesheet" href="../public/CSS/bootstrap-reboot.min.css" type="text/css">
    <link rel="stylesheet" href="../public/CSS/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../public/CSS/main.css">
    <script src="JS/bootstrap.bundle.min.js"></script>
    <script src="JS/bootstrap.min.js"></script>
</head>
<!--Termina el Header de mi pestaña-->
<body>
    <header>
        <!--Cabecera-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/src/view/index.html">Empleate</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/src/view/api/apikey.html">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/src/view/usuarios/login.html">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/src/view/usuarios/signup.html">Register</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/src/view/about.html">About
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</a></button>
              </form>
            </div>
          </nav><!--Fin de cabecera-->
    </header>
<main>
    </button>
     <div class="jumbotron mt-4">
       <h2 class="display-4">Bienvenido a Empleate</h2>
       <p class="lead">estas en el mejor lugar para encontrar tu proximo empleo</p>
       <hr class="my-4">
       <button type="button" id="btnpostjob" class="btn btn-secondary"> <a href="/src/view/empresas/login.html">eres un empleador? entra aqui</a> 
          <i class="far fa-plus-square"></i>
       </button>
     </div>  
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          Cras justo odio
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
      </div>

<!--Indice de paginas-->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </main>    
  </body>
</html>